$search_form_width:285px;

.left{
    border-right: 2px solid rgba(112, 112, 112, 0.13);
    width: 100%;

    ul{
        padding-left: 0;
        padding-right: 0;

        li{

            &:hover{
                background: #EEEEEE;
            }
        }
    }
}
.right{
    width: 100%;

    ul{
        padding-left: 0;
        padding-right: 0;

        li{

            &:hover{
                background: #EEEEEE;
            }
        }
    }
}
.search_form{
    border: none;
    width: $search_form_width;
}
.search_input{
    background: transparent;
    border: none;
    width: calc(#{$search_form_width} - 35px);
}
.search_submit{
    color: #FFF;
    margin-right: 10px;
}
.top_links{
    display: inline-flex;
    width: calc(100% - #{$search_form_width});
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px;
}