@import "sass_variables";

//SASS mixins
@mixin button-box-shadow {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19);
	&:hover {
		box-shadow: 0 5px 6px rgba(0, 0, 0, 0.19);
	}
	&:active {
		box-shadow: none;
	}
}
@mixin flyout-styling {
	display: none;
	position: absolute;
	background: #fff;
	color: #707070;
	font-size: 20px;
	text-align: left;
	border-radius: 6px;
	@include flyout-box-shadow;
	ul {
		margin: 0;
		padding: 10px 15px;
	}
	&.visible {
		display: flex;
		flex-direction: column;
	}
}
@mixin flyout-box-shadow {
	box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.19);
}
// Styles
html,
body,
#root,
#voyageur,
.stretch-height {
	height: 100%;
}
#main-content {
	height: calc(100% - 64px);
}
body {
	background: $off-white;
	font-size: 16px;
	line-height: 1.1;
}
#menu-panel-container {
	background: $primary;
	display: flex;
	flex-direction: column;
}
#list-panel-container {
	background: $neutral_light;
}
#list-panel-container,
#content-panel-container {
	padding: 15px;
}

button {
	transition: all 0.2s;
}
button:focus {
	outline: none;
}
:hover {
	transition: background 0.2s;
}
.float-right {
	float: right;
}
.flex {
	display: flex;
}
.flex-50 {
	width: 50%;
}
.flex-vertically-center {
	align-items: center;
}
.flex-align-right {
	justify-content: flex-end;
}
.text-align-right {
	text-align: right;
}
.btn {
	padding: 7px 28px;
}

/* Buttons */
.blue-btn {
	background: $primary;
	color: #ffffff;
	@include button-box-shadow;
}
.blue-btn:hover {
	background: $primary_light;
	color: #ffffff;
}
#topNav {
	background: $primary;
	color: #fff;
	height: 64px;
	position: relative;
	z-index: 16;

	#topNavLeft {
		z-index: 1;
	}

	#topNavRight {
		justify-content: flex-end;
		height: 64px;
		display: flex;

		#top-nav-search {
			display: flex;
			height: inherit;
			flex-direction: column;
			justify-content: center;
			margin-right: 10px;

			form {
				width: 285px;
			}
		}

		.top-nav-button-wrapper {
			position: relative;
			height: inherit;

			.icon-wrapper {
				font-size: 25px;
				color: #fff;
				display: inline-flex;
				height: inherit;
				justify-content: center;
				align-items: center;
				border: none;
				background: transparent;
				width: 59px;
				text-align: center;
				position: relative;

				&:hover {
					background: $primary_light;
					cursor: pointer;
				}

				svg {
					margin: 0 auto;
				}
			}

			.icon-wrapper.avatar-wrapper {
				width: auto;

				.user-avatar {
					width: 50px;
					height: 50px;
					border-radius: 25px;
					@include button-box-shadow;

					img {
						max-width: 100%;
						height: auto;
					}
				}
			}

			.icon-wrapper.question {
				font-size: 20px;
			}
			
			li {
				display: flex;
				flex-direction: row;
				padding: 12px 10px;

				.topnav-add-icon {
					display: inline-block;
					width: 25px;
				}

				.topnav-add-label {
					display: inline-block;
					padding-left: 10px;
				}

				&:hover {
					background: #e9e9e9;
					cursor: pointer;
				}
			}

			&.add .flyout {
				top: calc(100% + 10px);
				right: 0;

				ul {
					width: 185px;
					list-style-type: none;
					padding: 0;	
				}
			}

			&.notifications .flyout {
				top: calc(100% + 10px);
				right: 0;
			}
			&.avatar .flyout {
				top: calc(100% + 10px);
				right: 0;
				width: 656px;
				color: #373737;

				a {
					color: #373737;
				}

				ul {
					li {
						padding: 14px 20px;
						display: flex;
						flex-direction: row;
					}
				}
			}
		}
	}
}

.flyout {
	@include flyout-styling;
}
.flyout-arrow {
	position: absolute;

	&.top {
		right: 18px;
		top: -25px;
	}

	&.right {
		top: 9px;
		right: -20px;
		transform: rotate(90deg);
	}

	&.left {
		top: 9px;
		left: -20px;
		transform: rotate(-90deg);
	}

	&.bottom {
		bottom: -20px;
		left: 15px;
		transform: rotate(180deg);
	}
}
.input-error {
	box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}

#menuPanel, #listPanel, #contentPanel, #drawer {
	height: 100%;
}
#menuPanel {
	width: 66.5px;
}
#listPanel {
	width: calc(50% - 66.5px);
}
#contentPanel {
	width: 50%;
	transition: all 0.2s;
}
#drawer {
	padding: 15px 0 15px 15px;
}
#contentPanel .simplebar-content, 
#contentPanelDrawerOpen .simplebar-content {
	margin-left: 5px;
	margin-right: 5px;
}
#menu_panel_collapse svg:hover {
	cursor: pointer;
}

/* Responsive */
@media (min-width: 992px) {
	#topNavLeft {
		width: 15%;
		max-width: 15%;
		flex: 0 0 15%;
	}
	#topNavRight {
		width: 85%;
		max-width: 85%;
		flex: 0 0 85%;
	}
	#menuPanel, #listPanel {
		@include menu-panel-expanded;

		#menu_panel > li > span{
			display: inline-block;
			width: calc(100% - 52px);
		}
	}
	#menuPanel.collapsed{
		@include menu-panel-collapsed;

		#menu_panel > li > span{
			display: none;
		}
	}

	#menu_panel_settings span{
		width: calc(100% - 52px);
		display: inline-block;
		margin-left: 10px;
	}
	#menu_panel_settings.collapsed span{
		display: none;
		width: 0;
	}
	#menu_panel_collapse svg{
		transition: transform 200ms;
	}
	#menu_panel_collapse.collapsed svg{
		transform: rotate(180deg);
	}
	#contentPanel {
		flex: 1;
	}
	#contentPanelDrawerOpen {
		flex: 1;
	}
	#drawer {
		width: 20%;
	}
}